##

## Primeiros passos:

#### 1) Importação das bibliotecas

In [1]:
import basedosdados as bd
import pandas as pd

#### 2) Baixando a base pela API

query_agregado_vinculos = """
SELECT 
    sigla_uf,
    sexo_trabalhador,
    ano, 
    vinculo_ativo_3112,
    idade,
    numero_vinculos, 
    valor_remun_media_sm,
    valor_remun_media_nominal 
FROM `basedosdados.br_me_rais.agregado_vinculos_uf_vinculo_ativo_cbo_cnae_natureza_juridica_idade_sexo_raca` 
WHERE ano IN (1999, 2009, 2019) and valor_remun_media_nominal != 0.0 and idade >= 18 and vinculo_ativo_3112=1
"""


bd.download(query=query_agregado_vinculos, savepath="dados/agregado_vinculo", billing_project_id="processo-ufrj-analytica")

#### 3) Primeiro conato com a base

In [3]:
agregado_vinculos = pd.read_csv("dados/agregado_vinculo")
agregado_vinculos.head()

,sigla_uf,sexo_trabalhador,ano,vinculo_ativo_3112,idade,numero_vinculos,valor_remun_media_sm,valor_remun_media_nominal
0,RJ,1,1999,1,40,1,1.45,194.12
1,RJ,1,1999,1,48,1,1.96,262.47
2,RJ,1,1999,1,50,1,5.32,713.71
3,RJ,1,1999,1,33,1,2.05,275.00
4,RJ,1,1999,1,19,1,1.70,231.30